<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1>{{title}}</h1>
</header>

<main>
  <section>
    <header>
      <h2>Install</h2>
      <pre><code>npm install ngx-dynamic-component-loader --save</code></pre>
  </header>
  </section>
  <section>
    <header>
        <h2>Documentation</h2>
        <p><a target="_blank" href="https://github.com/kappys1/ngx-dynamic-component-loader">here.</a></p>
    </header>
  </section>
  <section>
    <header>
      <h2>Examples</h2>
      <p><a target="_blank" href="https://github.com/kappys1/ngx-dynamic-component-loader/blob/master/src/app/app.component.ts">see code here.</a></p>
    </header>
  </section>
  <article>
    <h3>Sample Component Append</h3>
    <button (click)="loadComponent1()">Append Sample Component</button>
    <div #content1></div>
  </article>
  <article>
    <h3>Sample Component 2 in template with params</h3>
    <input [(ngModel)]="inputValue" />
    <button (click)="loadComponent2()">Append Sample Component</button>
    <ng-template #dynamic></ng-template>
  </article>
</main>
<footer>
  {{year}} © {{title}}
</footer>
